name: Release Go project

on:
  push:
    tags:
      - "*" # Triggers only if push new tag version.

jobs:
  build:
    name: GoReleaser build
    runs-on: ubuntu-latest
    permissions:
      contents: write # needed to write releases
      id-token: write # needed for keyless signing
      packages: write # needed for ghcr access

    steps:
      # See: https://goreleaser.com/ci/actions/
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: git fetch --force --tags

      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
          cache: true

      - name: install cosign
        uses: sigstore/cosign-installer@v3

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
